body{
    color: white;

    background-color: rgb(116, 63, 20);
    background-image: url("../img/bg-wood.jpg");
    background-attachment: fixed;
}

a, .nav-link{
    color: white;
}

a:hover, .nav-link:hover{
    color: red;
}

a:focus, .nav-link:focus{
    color: darkred;
}

table {
background-color: rgba(0, 0, 0, 0.2);
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid black;
  text-align: center;
  padding: 8px;
  height: 3em;
}

/*
th:nth-child(even), tr:nth-child(even) {
  color: white;
}
*/